{% extends 'root.html' %}

{% block title %} Hookan Place - лучшая сеть кальяных в Минске {% endblock %}

{% block content %}
<div class="container">
    {% include 'landing/el_navbar.html' %}

    <div class="row">
        <div class="naming">
            <h1>Hookan Place</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam officiis iure sint deserunt quis
                laborum voluptates nam ratione. Officiis id illum neque nobis corrupti, alias sequi? Optio quam deserunt
                omnis!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a class="buttontaga" href="about/">Подробнее о нас</a>
        </div>
    </div>
</div>
{% endblock %}