{% extends 'root.html' %}

{% block title %} Hookan Place - лучшая сеть кальяных в Минске \ О нас  {% endblock %}

{% block content %}
<div class="container">
    {% include 'landing/el_navbar.html' %}

    <div class="row">
        {% include 'landing/el_pics.html' %}
    </div>

    <div class="row landingblock">
        <div class="col">
            <h1>Hookan Place </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima saepe doloribus quis incidunt sapiente
                commodi fugit, architecto veniam harum qui. Placeat consequuntur sed beatae recusandae. Soluta veritatis
                quod vel iste?</p>
        </div>
    </div>

    <div class="row landingblock">
        <div class="col centred">
            <h1><i class="fas fa-store"></i></h1>
            <h2>56</h2>
            <p>Заведений с которыми мы сотрудничаем</p>
        </div>
        <div class="col centred">
            <h1><i class="fas fa-address-book"></i></h1>
            <h2>1000</h2>
            <p>Человек персонала</p>
        </div>
        <div class="col centred">
            <h1><i class="fas fa-user-circle"></i></h1>
            <h2>200+</h2>
            <p>Довольных клиентов каждый день</p>
        </div>
    </div>

    <div class="row landingblock">
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima saepe doloribus quis incidunt sapiente
                commodi fugit, architecto veniam harum qui. Placeat consequuntur sed beatae recusandae. Soluta veritatis
                quod vel iste?</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima saepe doloribus quis incidunt sapiente
                commodi fugit, architecto veniam harum qui. Placeat consequuntur sed beatae recusandae. Soluta veritatis
                quod vel iste? Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima saepe doloribus quis
                incidunt sapiente commodi fugit, architecto veniam harum qui. Placeat consequuntur sed beatae
                recusandae. Soluta veritatis quod vel iste?</p>

            <a class="buttontaga" href="about/">О наших заведениях</a>
        </div>
    </div>

    <div class="row landingblock">
        <div class="col-4">
            <h1 class="centred">Контакты</h1>
        </div>
        <div class="col-8">

        </div>
    </div>

</div>
{% endblock %}