body {
    background: url("/static/img/01.png") no-repeat;
    background-color: #191919;
    background-size: 100%;
    background-attachment: fixed;
}

a {
    color: white;
}

a:hover {
    color: orangered;
}

.buttontaga {
    background-color: orangered;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 2em;
    color: white;
}

.buttontaga:hover{
    background-color: rgb(161, 43, 0);
    color: white;
}

.navbar {
    background-color: #191919;
    color: white;
    text-align: center;
    padding: 0px;
}

.navbar p {
    margin: 0px;
}

.navbut {
    background: linear-gradient(to right, rgba(1,1,1,0.7),rgba(1,1,1,0),rgba(1,1,1,0), rgba(1,1,1,0), rgba(1,1,1,0.7));
}

.navbut:hover {
    background-color: black;
}

.naming {
    background: linear-gradient(to right, rgba(1,1,1,0.9),rgba(1,1,1,0.8),rgba(1,1,1,0.7),rgba(1,1,1,0));
   color: white; 
   width: 60%;
   padding: 1em;
   margin-top: 5em;
}

.naming h1 {
    font-size: 5em;
}

.landingblock {
    background-color: rgba(1,1,1,0.8);

    margin-top: 2em;
    padding: 1em;
    padding-top: 2em;
    color: white;
}

.landingblock h1 {
    font-size: 3em;
}

.centred {
    text-align: center;
}