{% extends  'worker_root.html' %}

{% block title %} Вход в систему | Hookan place {% endblock %}

{% block main %}
<div class="box-login">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <h1 align="center"><i class="fas fa-times-circle"></i></h1>
        <h5 align="center">Ой, что то пошло не так ...</h5>
        <p>Наверное вы ввели неверный логин или пароль. попробуйте снова</p>
        <button type="submit" class="btn btn-primary">Войти</button>
</form>
</div>


{% endblock %}